<header class="header-section">
  <nav class="navbar">
    <a href="/"><div class="judul-in-navbar">AR<span>News</span></div></a>
  </nav>
  <nav class="navbar2">
    <div>
      <ul>
        <a href="/"><li> Home</li></a>
        <a href="/tech-news"><li> Tech</li></a>
        <a href="/business-news"><li> Business</li></a>
        <a href="/health-news"><li> Health</li></a>
        <a href="/sport-news"><li> Sport</li></a>
      </ul>
    </div>
  </nav>
</header>